@use '../../styles/partials/global';
@import '../../styles/partials/variables';
@import '../../styles/partials/mixins';

.forecast {
    background-color: $WC-White;
    width: 34.25rem;
    padding: 3rem 0 3rem 6rem;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    position: relative; /* Make sure the element is positioned relative to its normal position */
    left: -3rem; /* Move the element 3rem to the left */
    z-index: 0; /* Push the element behind all other elements */

    &__title {
        padding: 2rem 0;
        @extend .text-style-page-header-desk
    }

    &__sub-title {
        padding: 2rem 0;
    }

}

.forecast__container {
    padding-right: 3rem;
}

.settings__container {
    position: relative;
    padding-right: 1rem;
}