@font-face {
    font-family: "Montserrat";
    src: local("Montserrat Regular");
    src: url(../../assets/fonts/Montserrat-Regular.ttf) format("opentype");
    font-weight: 400;
};

@font-face {
    font-family: "Montserrat";
    src: local("Montserrat Semi Bold");
    src: url(../../assets/fonts/Montserrat-SemiBold.ttf) format("opentype");
    font-weight: 600;
};

@font-face {
    font-family: "Montserrat";
    src: local("Titillium Bold");
    src: url(../../assets/fonts/Montserrat-Bold.ttf) format("opentype");
    font-weight: 700;
};