@font-face {
    font-family: "TitilliumWeb";
    src: local("Titillium Web Regular");
    src: url(../../assets/fonts/TitilliumWeb-Regular.ttf) format("opentype");
    font-weight: 400;
};

@font-face {
    font-family: "TitilliumWeb";
    src: local("Titillium Web Regular Semi Bold");
    src: url(../../assets/fonts/TitilliumWeb-SemiBold.ttf) format("opentype");
    font-weight: 600;
};