// Breakpoints
$desktop-break: 1280px;
$tablet-break: 768px;
$mobile-break: 320px;

// Primary colors
$Instock-Black: #13182C;
$Instock-BlackBg: rgba(19,24,44, 0.7);
$Instock-Indigo: #f6a71c;
// $Instock-Indigo: #2E66E5;
$Instock-IndigoBg: rgba(46,102,229, 0.07);
$White: #FFFFFF;

// Secondary colors
$Slate: #5C667E;
$Cloud: #BDC5D5;

// Background colors
$Graphite: #232940;
$Light-Grey: #F7F8F9;

// Supporting colors
$Green: #158463;
$GreenBg: rgba(21,132,99, 0.07);
$Red: #C94515;
$RedBg: rgba(201,69,21, 0.07);