@use '../../styles/partials/global';
@import '../../styles/partials/variables';
@import '../../styles/partials/mixins';

.settings {

    &__header {
        display: flex;
        align-items: start;
        justify-content: space-between;
        padding: 2rem 0;
    }

    &__title{
        padding:0;
    }

    &__location-container{
        display: flex;
        padding-bottom: 16px;
    }

    &__list {
        position: relative;
    }

    &-item__category{
        font-weight: 600;
        font-size: 20px;
    }
    &-item__status {
        font-weight: 600;
        font-size: 20px;
    }

    &-item__actions {
        position: relative;
    }

    &__logout {
        padding: 2rem 2.5rem;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    // padding: 1rem;
    // padding-bottom: 0.25rem;
    // margin-top: -5rem;
    // z-index: 1;

    // @include tablet {
    //     padding: 0 2rem 0.25rem 2rem;
    //     margin-top: -7rem;
    // }

    // @include desktop {
    //     padding: 0 10vw 0.25rem 10vw;
    //     margin-top: -7rem;
    // }

    // &__container {
    //     border-radius: 0.25rem;
    //     box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    //     background-color: $White;

    // }

    // &__header {
    //     display: flex;
    //     flex-direction: column;
    //     padding: 1rem;
    //     width: 100%;
    //     border-bottom: 1px solid $Cloud;

    //     @include tablet {
    //         flex-direction: row;
    //         align-items: center;
    //         justify-content: space-between;
    //         gap: 1rem;

    //         padding: 2rem;
    //         border-bottom: none;
    //         height: 7rem;
    //     }

    //     @include desktop {
    //         flex-direction: row;
    //         align-items: center;
    //         justify-content: space-between;
    //         gap: 1rem;

    //         padding: 2rem;
    //         border-bottom: none;
    //         height: 7rem;
    //     }
    // }

    // &__right {
    //     @include tablet {
    //         display: flex;
    //         justify-content: space-between;
    //         gap: 1rem;
    //     }

    //     @include desktop {
    //         display: flex;
    //         justify-content: space-between;
    //         gap: 1rem;
    //     }
    // }

    // &__title {
    //     @include tablet {
    //         width: 30%;
    //     }

    //     @include desktop {
    //         width: 40%;
    //     }
    // }

    // &__search {
    //     width: 100%;
    //     margin: 1rem 0;
    //     background-image: url(../../assets/icons/search-24px.svg);
    //     background-repeat: no-repeat;
    //     background-position: calc(100% - 1rem) center;

    //     @include tablet {
    //         width: 25%;
    //         margin: 0;
    //     }

    //     @include desktop {
    //         width: 30%;
    //         margin: 0;
    //     }

    // }

    // &__button {
    //     padding: 0rem 1rem;
    //     @include tablet {
    //         width: 40%;
    //     }

    //     @include desktop {
    //         width: 40%;
    //     }
    // }

}