@use '../../styles/partials/global';
@import '../../styles/partials/variables';
@import '../../styles/partials/mixins';

.navbar {

    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: flex-end;
    }

    &__item {
        margin-right: 20px;
        @extend .text-style-subheader-tab;
    }

    &__link {
        padding-bottom: 1rem;
        color: $WC-Gray;

        &:hover {
            color: $WC-DarkCyan; // Change color on hover if desired
        }

        &--active {
            border-bottom: 5px solid #fff;
        }
    }
}